### program to count number of vowels using sets in given string

In [5]:
vowels=["a","e","o","i","u"]
input1=input("Insert name   ")
count=0
for i in input1:
    if i in vowels:
        count+=1
count

Insert name   omar ossama

5


### Write a Python program to add an item to a tuple.

In [9]:
tup = ("omar","ossama","mhmd")
x=input("enter a name: ")
tup=list(tup)
tup

enter a name: omar

['omar', 'ossama', 'mhmd']

### Write a Python program to multiply all the items in a list.

In [12]:
ls=[1,2,3,4,5,6]
mul=1
for i in ls:
    mul*=i
mul

720

### Write a Python program to get the smallest number from a list.

In [16]:
import random
lis=[]
for i in range(10):
    lis.append(random.randint(0,1000))
print(lis)    
print(min(lis))

[620, 509, 710, 501, 485, 816, 874, 61, 233, 735]
61

### Write a Python program to get the largest number from a list.

In [17]:
import random
lis=[]
for i in range(10):
    lis.append(random.randint(0,1000))
print(lis)    
print(max(lis))

[340, 675, 573, 743, 491, 478, 78, 60, 345, 236]
743

### Write a Python program to clone or copy a list

In [22]:
import random
lis1=[]
lis2=[]
for i in range(10):
    lis1.append(random.randint(0,1000))
for i in lis1:
  lis2.append(i)
print(lis1)
print(lis2)

[320, 827, 478, 520, 360, 718, 186, 858, 709, 181]
[320, 827, 478, 520, 360, 718, 186, 858, 709, 181]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [23]:
set1 = set([214,6547,123,756,13])
set1.remove(756)
print(set1)

{13, 6547, 214, 123}

### Write a Python program to find the maximum and minimum values in a set.

In [24]:
print(f"max is {max(set1)}, min is {min(set1)}")

max is 6547, min is 13

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [25]:
tuple1 = ("name", "age", "city","city")
dic=dict(enumerate(tuple1))
print(dic)

{0: 'name', 1: 'age', 2: 'city', 3: 'city'}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [31]:
ls = [(10,20,40),(40,50,60),(70,80,90)]
ls = [(x,y,100) for (x,y,z) in ls]
ls

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]